<div class="row clearfix">
    <!--Services Block Two-->
    <div class="services-block-two col-md-4 col-sm-6 col-xs-12">
        <div class="inner-box">
            <div class="icon-box">
                <fa-icon [icon]="user" class="icon flaticon-customer"></fa-icon>
            </div>
            <h3><a routerLink="/cadastro" >Adicionar nova consulta</a></h3>
        </div>
    </div>

    <div class="services-block-two col-md-4 col-sm-6 col-xs-12">
        <div class="inner-box">
            <div class="icon-box">
                <fa-icon [icon]="Clip" class="icon flaticon-customer"></fa-icon>
            </div>
            <h3><a routerLink="/listagem" routerLinkActive="router-link-active" >Listar consultas</a></h3>
        </div>
    </div>
        
</div>