.services-block-two {
    position: relative;
    margin-bottom: 30px;
    z-index: 1;
}
.services-block-two .inner-box {
    position: relative;
    padding: 35px;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.30);
    display: flex;
    text-align: center;
    align-items: center;
}
.services-block-two .inner-box h3 a{
    padding-left:3rem;
    color:#38b0de
}
.services-block-two .inner-box .icon-box .icon {
    position: relative;
    font-size: 52px;
    color:#38b0de;
}