<div *ngIf="dados">
<p><strong>Nome:</strong> {{dados.nome}}</p>
<p><strong>Sexo do condutor:</strong>
     <span *ngIf="dados.sexo === 'M'">Masculino</span>
     <span *ngIf="dados.sexo === 'F'">Feminino</span>
</p>
<p><strong>Data de Nascimento:</strong> {{dados.date}} </p>
<p><strong>Marca: </strong> {{dados.marca}}</p>
<p><strong>Veiculo:</strong> {{dados.veiculo}}</p>
<p><strong>Valor do veiculo:</strong> {{dados.valor}} </p>
<p><strong>Valor do seguro:</strong> {{dados.seguro}} </p>

</div>