<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form class="needs-validation" novalidate [formGroup]="form" (ngSubmit)="enviarDados(form)">
                <div class="form-row">
                    <div class="col-md-12 mb-3">
                        <label for="nome">Nome</label>

                        <input type="text" class="form-control" id="nome" placeholder="Nome do Cliente" value="nome"
                            formControlName="nome" [ngClass]="{ 'is-invalid': submit && error('nome')}" required>
                        <div class="invalid-feedback">
                            Campo Obrigatorio
                        </div>
                    </div>
                    <div class="form-group col-md-7">
                        <label for="sexo">Sexo</label>
                        <select class="custom-select browser-default" name="sexo" id="sexo" required formControlName="sexo">
                            <option value="">Selecione o sexo</option>
                            <option value="M">Masculino</option>
                            <option value="F">Feminino</option>
                        </select>
                    </div>
                    <div class="mb-6 md-form">
                        <label for="date">Data de Nascimento</label>
                        <input type="date" name="date" id="date" class="form-control" required formControlName="date" />
                    </div>
                    <div class="form-group col-md-6">
                        <label for="date">Selecione a marca do Veículo</label>
                        <div *ngFor="let i of dadosMarca">
                            <div class="form-check">
                                <input (change)="buscaVeiculos($event)" formControlName="marca" class="form-check-input"
                                    type="radio" name="marca" id="{{ i.cod_marca}}" value="{{i.descricao_marca}}"
                                    >
                                <label class="form-check-label" for="{{i.cod_marca}}">
                                    {{i.descricao_marca}}
                                </label>
                            </div>
                        </div>

                    </div>


                    <div class="form-group col-md-6 " *ngIf="dadosVeiculo">
                        <label for="date">Selecione o Veiculo</label>
                        <div *ngFor="let b of dadosVeiculo">
                            <div class="form-check" >
                                <input  formControlName="veiculo" class="form-check-input"
                                    type="radio" name="veiculo" id="{{ b.descricao_veiculo}}"  value="{{b.descricao_veiculo}}"
                                    [attr.data-preco]=" b.valor_veiculo"
                                    (click) = "setValor($event)"
                                    >
                                    <label class="form-check-label" for="{{b.descricao_veiculo}}">
                                            {{b.descricao_veiculo}}
                                    </label>
                            </div>
                        </div>

                    </div>


                </div>

                <div class="button-setup btn-just">
                    <button class="btn btn-dark btn-sm" routerLink="/">Voltar</button>
                    <button class="btn btn-success btn-sm" [disabled]="!form.valid" type="submit">Salvar</button>
                </div>

            </form>
        </div>
    </div>
</div>